
* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,38,190,0.7623249983587185) 90%);
  
}

/* Header */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  /*background: white;*/
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(7,38,190,0.5354342420561975) 100%);
  border-radius: 25px;
}

img {
  max-width: 100%;
  height: auto;  
}


/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;      
   border-radius: 25px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;    
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: white;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
